{% extends 'base.html' %}

{% block content %}

<h2>Patient Appointments</h2>

<table border="1">

    <tr>
        <th>Student</th>
        <th>Date</th>
        <th>Time</th>
        <th>Reason</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    {% for appointment in appointments %}

    <tr>

        <td>
            {{ appointment.student.username }}
        </td>

        <td>
            {{ appointment.slot.date }}
        </td>

        <td>
            {{ appointment.slot.time }}
        </td>

        <td>
            {{ appointment.reason }}
        </td>

        <td>
            {{ appointment.get_status_display }}
        </td>

        <td>

            {% if appointment.status != 'completed' %}

            <a href="{% url 'complete_appointment' appointment.id %}">
                Complete
            </a>

            {% else %}

            Completed

            {% endif %}

        </td>

    </tr>

    {% empty %}

    <tr>
        <td colspan="6">
            No appointments found.
        </td>
    </tr>

    {% endfor %}

</table>

{% endblock %}